body {
	font: 15px/1.5 Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container {
	width:80%;
	margin:auto;
	overflow:hidden;
	
}

ul {
	padding: 0;
	margin: 0;
}

/*Header*/

header {
	background: #35424a;
	color: #ffffff;
	padding-top: 10px;
	min-height: 80px;
	border-bottom: #E44D26 3px solid;


	
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	
}



header li {
	float:left;
	display: inline;
	padding: 0 30px 0 20px;
}


header #branding {
	float:left;
	
}

header #branding h1 {
	margin: 0;
	
	
}

header nav {
	float:right;
	margin-top: -33px;
	
	
}

header li :hover {
	color: #000000;
}
header .highlight, header .current a{
	color:#E44D26;
	font-weight: bold;
}



/* index.html*/
#side1 {
	min-height: 400px;
	background: url('billeder/waves.jpg') no-repeat 0 -190px;
	text-align:center;
	color: #ffffff;
}

#side1 h2 {
	margin-top: 140px;
	font-size: 60px;
	margin-bottom: 0;
	
}
#side1 p {
	font-size:16px;
}

.mellemrum {
	padding: 25px;
	color:#ffffff;
	background:#35424A;
	
}


/* billeder */
#boxes {
	margin-top:10px;
	
}
.mellemrum {
	text-align: center;
	font-size: 16px;
	padding: 2px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: 10px 119px;
	overflow:hidden;
	
}


section h2 {
	text-align: center;
}

section p{
	text-align: center;
}
#boxes .box {
	float:left;
	width: 19.8%;
	padding: 20px;
	text-align: center;
	
}

#boxes .box img {
	width: 80px;
	
}

#ps {
	text-align: center;
}

/* Footer*/
footer {
	color: white;
	background-color: #E44D26;
	text-align: center;
	padding: 20px;
	margin-top: 6px;
	
}
footer a {
	text-decoration: none;
	color:white;
}

/* kontakt + knap */
.button_1 {
	height:48px;
	background: #E44D26;
	border: 0;
	padding: 0 70px;
	color: #ffffff;
}
.quote {
	padding:5px;
	background: #35424A;
	color: #ffffff;
	margin-bottom: auto;
	
}



/*portfolio*/

  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }


  div.gallery {
      border: 1px solid #ccc;
  }

  div.gallery:hover {
      border: 1px solid #E44D26;
  }

  div.gallery img {
      width: 100%;
      height: auto;
  }

  div.desc {
      padding: 15px;
      text-align: center;
  }

  * {
      box-sizing: border-box;
  }

  .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
  }

  @media only screen and (max-width: 700px){
      .responsive {
          width: 49.99999%;
          margin: 9px 0;
      }
  }

  @media only screen and (max-width: 500px){
      .responsive {
          width: 100%;
      }
  }
/*responsive */
@media(max-width:768px) {
	header #branding, header nav, header nav li {
		float:relative;
		text-align:center;
		width:100%;
	}
	header {
		padding-bottom:2px;
	}
}



