/* STYLING AF BLOG SITE*/

.banner-blog {
    height: 60vh;
    width: 100%;
    background-color: url(img/frontpage.png);
    background-size: cover;
    padding: 12%;
    background-repeat: no-repeat;
}




.blog-header {
    font-size: 30px;
    text-align: center;
    background: white;
    margin-top: 40px;
}




.card {
    background-color: white;
    padding: 40px;
    max-width: 50%;
    float: left;
}



.row .card p {
    padding: 5% 0;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;

}



.blog-button {
    background-color: #962fbf;
    color: white;
    padding: 10px 80px;
    text-decoration: none;
    font-size: 1.4em;
    box-shadow: 0px 0px 90px;
    font-weight: 600;
    opacity: .9;
    text-transform: uppercase;
    position: sticky;
    transition: ease-in 300ms;
    border-radius: 5px;
}

.blog-button:hover {
    color: white;
    background-color: black;
    text-shadow: 0px 0px;
    transition: ease-out 300ms;
    opacity: .4;
}

.influencer {
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 10px #dadedf;
    max-width: 100%;
    border-radius: 5px;

}

.post {

    max-width: 45%;
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 20px
}

.geo {
    float: left;
    margin: 0 2.5% 2.5% 0;
}

.snip {
    float: right;
    margin: 0 2.5% 0 2.5%;
}

.postpics {
    height: auto;
    width: 10%;
    border-radius: 15px;
    display: block;
}

.row h3 {
    font-size: 2em;
}

.postrow {
    padding: 5% 10%;
}
