.kontaktbanner {
	height: 60vh;
	width: 100%;
	background-image: url(img/kontakt.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 10% 30%;

}

h1 {
	font-size: 40px;
	text-align: center;
	background: white;
	margin-top: 50px;

}

h2 {
	margin-bottom: 40px;
}


@media screen and (max-width: 1078px) {

	.kontaktbanner {
		display: none;
	}


	.column1 {
		width: 50%;
		padding: 0;
		line-height: 2;
		color: #43464b;
	}

}
