/* RESPONSIVE CSS */

/* Responsive styling for index.html*/

@media screen and (max-width: 1078px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}
	.banner {
		display: none;
	}


	header {
		position: relative;
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: center;
	}

	.logo {
		height: 70px;
		margin: auto;
		display: block;
	}


	nav {
		text-align: center;
		margin: 0;
		width: 100%;
		padding: 0;

	}

	/*Kollapser menuen*/
	ul li {
		display: block;
		margin: 0;
		width: 100%;
		padding: 2% 0;
		;
	}

	nav a::before {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		background: linear-gradient(0.25turn, #d331f7, #ff3ca5, #ffa94b);
		position: absolute;
		bottom: 0;
		width: 0%;
		transition: all ease-in-out 200ms;
	}

	.column {
		width: 100%;
		line-height: 2;
	}

}

/* Responsive styling for instaway-blog.html*/

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1078px) {
	.card {
		width: 100%;
		margin: 20px;

	}



}
