.kontaktbanner {
    height: 60vh;
    width: 100%;
    background-image: url(img/kontakt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 30%;

}

h1 {
    font-size: 40px;
    text-align: center;
    background: white;
    margin-top: 50px;

}

h2 {
    margin-bottom: 40px;
}
