@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,800');


	
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #4389B1;
	margin: 0;
	padding: 0;
	color: white;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 3em;
	color:white;
}

/* Navbar */
nav a {
	color: white;
	text-decoration: none;
	font-size: 1em;
	padding:  15px 10px;
	display: block;
}

nav {
	background-color: #aa898a;	
	margin: 0;
	padding: 0;
}


nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul ul li{
	display: block;
	width:100%;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
	
}
nav a:hover {
	background-color: #212121;
}


/* footer */

footer {
	padding: 20px 0;
	font-size: 1em;
}

nav ul ul {
	display:none;
	position: absolute;
}

nav ul li:hover > ul  {
	display:inherit;
	background-color: #AA898A;	
}

.myStyle {
	display:none;
}

button {display:none;}
/*Responsive styles*/

@media all and (max-width: 768px) {
	h1 {	
	font-family: 'Bree Serif', serif;
	font-size: 2em;
	color:white;
	margin: 40px 0px;
	
}
	nav {display:none;}

button {display:block;}
	
	nav ul {
		margin: 0;
		padding: 0;
	}
	
	nav ul li {
	display: block;
	text-align: center;
	border-bottom: 1px solid white;

}
	footer {
	display:none;
		
	}
	
	nav a {
	color: white;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
		
}
	nav ul li:hover > ul  {
	display:inherit;
	position: static;
	background-color: #AE5254;
}

	
}/*dropdown menu*/



